body {
  font-family: 'Helvetica', 'Arial';
  background-color: #517398;
}

article {
  width: 80%;
  background-color: #fafafa;
  box-sizing: border-box;
  padding: 15px 30px;
  border-radius: 2px;
  margin: 30px auto 0;
}

.code-sample {
  margin: 10px 20px;
  border: 1px solid black;
  padding: 0 20px;
  display: inline-block;
  background-color: #D3D3D3;
  border-radius: 3px;
}
