<!DOCTYPE>
<html>
  <head>
    <title>Intro</title>
    <link rel="stylesheet" type="text/css" href="../css/main.css" />
  </head>

  <body>
    <article>
      <h1>Introduction to Web Development</h1>
      <h2>Part 1</h2>

      <p>
        This is the first in a series of posts aimed at introducing Web Development.
        Throughout the series, I will discuss HTML, CSS, and Javascript starting from the basics in each category.
        These tutorials are perfect for an aspring web developer, a non programmer looking to get their feet wet, and even the programmer who may need a website for various projects.
        So let's get started!
      </p>

      <p>
        Today we are starting with HTML.
        For those of you that don't know, web development is full of acronyms, so be prepared for lots of confusing letters.
        HTML means hyperText markup language.
        Online you will see lots of references to HTML5.
        This is merely the newest standards for HTML and we will be using it here.
        Your HTML is the place to put all of the content of your website including text, images, and videos.
        Then your CSS styles it and give it the proper look.
        Finally, your JavaScript adds functionality to your page.
        We will get to the latter two, but are starting with HTML.
     </p>

     <p>
       Creating an HTML page is easy.
       First, open a text editor. This can be as simple as notepad, but I suggest downloading Sublime Text.
       Next, make a new file and save it with a .html extension (ex: my_first_page.html).
       Now we need to add some content.
       Here is an example of the classic 'Hello World' example.
     </p>

     <pre class="code-sample">
       <code>
&lt;!DOCTYPE&gt;
&lt;html&gt;
 &lt;head&gt;
   &lt;title&gt;My First Website&lt;/title&gt;
&lt;/head&gt;

&lt;body&gt;
  &lt;p&gt;Hello World&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;
        </code>
      </pre>

      <div>
        <p>
          Let's talk about what each of these tag actually mean. A tag in html is each thing in between a &lt; and &gt;.
          In this case we are using the html, head, title, body, and p tags. We will get to many more html tags.
          You may notice that each tag comes in pairs, the second of which has a '/'. This indicates the opening and closing of tags. In other words where the tag element starts and where the content for it ends.
        </p>

        <ul>
          <li>
            <h2 class="tag-name">!DOCTYPE</h3>
            <p>This tag defines that we are using HTML5. Stick it at the top of pages and you will be able to use all of the fancy tags we are going to talk about.</p>
         </li>
         <li>
           <h2 class="tag-name">HTML</h3>
          <p>This tag



    </article>
  </body>
</html>
